.navigate {
    background-color: gray;
    margin: 0;
    width: 100%;
}

h1{
    margin: 0;
}

.back {
    margin: 20px;
    position: fixed;
    bottom: 40px;
    left: 40px;
}

.logout {
    margin: 20px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}