.searcher {
    border: 2px solid #888888;
    border-radius: 20px;

    width: 927.2px;
    height: 60px;
    box-sizing: border-box;
    resize: none;

    display: flex;
    align-items: center;

    background-color: #202020;

    padding: 0 20px;
    margin: 0 0 20px;

    line-height: 40px;
    font-style: oblique;
    font-size: 24px;
    color: #fff;
    overflow: hidden; 
}

.searcher::placeholder {
    text-align: center;
}