
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('src/assets/fonForForms.jpg');
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #CCCCCC;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 8px 2px rgb(0, 0, 0);
    width: 300px;

    padding: 20px;
    border-radius: 16px;
}


.title {
    font-size: 52px;
    line-height: 1.1;
    margin: 8px 0 40px;
    color: #333333;
}

.errors {
    border: 2px solid rgb(37, 37, 37);
    color: rgb(143, 1, 1);
    border-radius: 12px;
    width: 280px;
    margin: 8px 0;
    text-align: center;
}

.visibility {
    padding: 0;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

.visibility:focus,
.visibility:active {
    outline: none;
    border: none;
}

.visibility:hover {
    transform: scale(1.07);
}

.password {
    position: relative;
    display: flex;
    align-items: center;
    width: 245px;
}

.linkTo {
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.3s;
}

.linkTo:hover {
    transform: scale(1.1);
}

.par {
    margin: 0 4px;
    font-size: 16px;
    color: #ffffff;
}

p {
    font-size: 16px;
    margin: 0;
}

.button {
    padding: 4px;
    margin: 16px 0;
    width: 300px;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    transition: 0.2s;
    background-color: #000000;
    color: #FFFFFF;
}

.button:hover{
    transform: scale(1.05);
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

.disabledBtn {
    padding: 4px;
    margin: 16px 0;
    width: 300px;
    border-radius: 20px;
    background-color: #6a6a6a;
    color: #FFFFFF;
}
