.notes {
    list-style: none;
    margin: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .note {
        border: 2px solid #888888;
        border-radius: 20px;

        padding: 12px;
        margin: 12px 0;
        
        width: 900px;
        min-height: 100px;
        max-height: 300px;
    }

    .haveNotNotes {
        text-align: center;
        color: #88888867;
    }
}

.removeBtn {
  background-color: red;
}

.notesAnimation-enter {
    transform: translateX(-350px);
}
.notesAnimation-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.notesAnimation-exit {
    opacity: 1;
}
.notesAnimation-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}