.notes {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 150px 0 50px 0;

    .note {
        border: 2px solid #888888;
        border-radius: 20px;

        padding: 12px;
        margin: 20px 0;
        
        width: 900px;
        min-height: 100px;
        max-height: 300px;

        z-index: 100;

        display: flex;
        justify-content: space-between;

        .removeBtn {
            padding: 0;
            // margin: 0 8px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            position: relative;
            top: 8px;
            right: 8px;
            transition: 0.3s;
            cursor: pointer;
        }

        .removeBtn:hover {
            transform: scale(1.25);
            background-color: #be0000;

            svg {
                fill: white;
            }
        }
    }

    .haveNotNotes {
        text-align: center;
        color: #88888867;
    }
}

.modalBtns {
    background-color: #525252;
    border-radius: 20px;
    border: none;
    transition: 0.3s;

    width: 100px;
    height: 40px;

    border: 2px solid #2d2d2d;

    cursor: pointer;
}

.modalBtns:hover {
    transform: scale(1.25);
}

.back {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    
    position: fixed;
    top: 140px;
    left: 40px;

    transition: 0.2s;
}

.back:hover {
    transform: scale(1.25);
}