.back {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    
    position: fixed;
    top: 140px;
    left: 40px;

    transition: 0.2s;
}

.back:hover {
    transform: scale(1.25);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;

    margin: 150px 120px 50px;
    padding: 40px;

    border: 2px double #525252;
    border-radius: 30px;

    h1, h2 {
        text-align: center;
    }

    .title {
        font-size: 50px;
        animation: titleAnim 2s ease-in;
    }

    hr {
        width: 100%;
        margin: 16px 0; 
    }

    a {
        color: #5f72ff;
        transition: 0.3s;
    }

    a:hover {
        transform: scale(1.25);
    }

    .technologies {
        margin: 16px;
    }

    .technologi {
        margin: 8px 24px;
    }
}

@keyframes titleAnim {
    from {
        font-size: 75px;
    }

    to {
        font-size: 50px;
    }
}