.navbar {
    background: #888;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;

    z-index: 1000;

    header {
        margin: 0 20px;
        cursor: pointer;
    }

    div {
        display: flex;
        align-items: center;
    }

    h1{
        font-size: 50px;
        font-weight: 600;
        color: #070707;
    }

    
    
    h3 {
        margin: 0 20px;
        cursor: pointer;
        font-size: 40px;
        font-weight: 500;
        color: #070707;
    }

    span {
        font-size: 40px;
        font-weight: 500;
        color: #070707;
        margin: 0 22px;
    }

    .accountIcon {
        transition: 0.5s;
        margin: 0 20px;
        cursor: pointer;
    }

    .accountIcon:hover {
        transform: scale(1.25) rotateY(180deg);
    }
}