.addNote {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: 0.5s ease-in-out;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .plusIcon {
        font-size: 30px;
        margin: 0;
        transition: 1s ease-in-out;
        opacity: 1;
    }

    .addNoteText {
        opacity: 0;
        white-space: nowrap;
        transition:  1s ease-in-out;
        margin-left: 4px;
        display: none;
    }

    &:hover {
        width: 150px;
        padding: 10px 20px;
        border-radius: 20px;

        .plusIcon {
            transform: rotate(360deg);
        }

        .addNoteText {
            opacity: 1;
            display: inline;
        }
    }
}

.themeSwither {
    position: fixed;
    top: 140px;
    right: 40px;

    padding: 0;
    background: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
    }
}

// #root {
//     margin-top: 100px;
//     min-height: calc(100% - 100px);
//     padding: 0;
//     width: 100%;
//     height: 100%;

//     overflow-y: auto;
// }



