:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5; 
  font-weight: 400; 
  font-synthesis: none; 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
}

*, body {
  margin: 0; 
  padding: 0; 
}

body {
  background-image: url('src/assets/backgroundWhite.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
  color: aliceblue;
}

.dark {
  color-scheme: dark; 
  background-image: url('src/assets/backgroundBlack.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
  color: aliceblue;
}

:root.dark {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5; 
  font-weight: 400; 

  // color-scheme: light dark; 
  // background-image: url('src/assets/backgroundImg.png');

  font-synthesis: none; 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 

}

@keyframes titleAnim {
  from {
      font-size: 75px;
      opacity: 0;
  }

  to {
      font-size: 50px;
      opacity: 1;
  }
}

@keyframes modalWindowLighting {
  0% {
      transform: scale(1);
      background-color: #888888;
      box-shadow: none;
  }

  50% {
      transform: scale(1.05);
      background-color: #910000;
      box-shadow: 0px 0px 40px 6px #ff000090;
  }

  100% {
      transform: scale(1);
      background-color: #888888;
  }
}


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
